body{
    background-color:  rgb(33, 174, 184);
    text-align: center;
}

#container{
    margin: 10px;
}

 #mainP{
    font-weight: 600;
}

.select-mood {
    background-color: rgb(118, 247, 206);
    padding: 10px;
    font-size: 15px ;
    border-radius: 5px 5px 5px;
    font-family: 'Kalam', cursive;
  
}


#searchForm{
    /* display: inline; */
    /* background-color: red; */
    /* padding: 5px; */
}
