
body {
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1053&q=80");
     height: 100%;
     background-size: cover;

}

/* .slider-container {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right:auto;
    overflow: hidden;
    text-align: center;

}

.image-container {
    width: 500px;
    height: 400px;
    position: relative;
    transition: left 2s;
    -webkit-animation: left 2s;
    -moz-animation: left 2s;
    -o-animation: left 2s;
}

.slider-image {
    float: right;
    margin: 0px;
    padding: 0px;

} */

.turtle {
    position:absolute;
    right: 125%;
    top: 5px;
    height: 110%;
    box-shadow: 8px 8px lavender;
    animation: zoomin 1s linear;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;

}

@keyframes zoomin {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}




/* .container1{
    border: solid 5px whitesmoke;
    background-color:  transparent rgb(33, 174, 184);
    width: max-content;
    position: absolute;
    right: 185px;
    top: 20%;
    padding: 15px;
    box-shadow: 8px 8px 5px rgb(189, 179, 189);

} */
#main-login{
    margin: 20px 10px;
    padding:  15px 25px;
    background-color:  rgb(100, 191, 197) !important;
    opacity: 0.9;
    border-radius: 15px;
    width: 30%;
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 15px 20px rgba(83, 73, 73, 0.02);
    animation: moveleft 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode:  forwards;
} 

@keyframes moveleft {
    0% {
        transform: translateY(100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
} 


#form-heading{
    /* font: 2em sans-serif ; */
    font-weight: 600;
    font-size: 28px;
}

#main-form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    overflow: hidden;
    
}

.eachInput{
    width: 100%;
    margin: 8px auto;
}

.formLabel{
    font-weight: 400;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 5px;    
}

.formInput {
    height: 35px ;
    border-radius:4px;
    border: 2px solid #f1860a;
    /* border-style: none; */
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* box-shadow: black 1px; */

}

#btn{
    background-color: #417477;
    box-shadow: 5px 5px 5px rgb(131, 122, 122);
    border: none;
    color: white;
    width: 40%;
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    font-weight: 400;
}

.btn-r{
    text-align: left;
}

.btn-l{
    text-align: right;
    float: right;
     
}


#btn:hover{
    background-color: rgb(84, 155, 155);
}

@media (max-width:992px) {
    #main-login{
   
        width: 60%;
      
    }
}

/* #myCarousel {
    position: absolute;
    right: 90%;
    display: inline-block;
    

   
} */


