.btn {
    background-color: #417477;
    border: none;
    color: white;
    width: 10%;
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    font-weight: 400;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(131, 122, 122);

} 

.btn:hover{
    background-color: rgb(84, 155, 155);
}

#closeBtn{
    background-color: #417477;
    border: none;
    color: white;
    box-shadow: 5px 5px 5px rgb(131, 122, 122);
}
#closeBtn:hover{
    background-color: rgb(84, 155, 155);

}

.modal-main{
    background-color: #9ce0f5;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px;
    box-shadow: 5px 5px grey;

   
    
}

.angry {
    background-color: rgb(245, 45, 45);
}

.anxious {
    background-color: orange;
}
.energetic {
    background-color: yellow;
}

.calm {
    background-color: steelblue;
}
.sad {
    background-color: #bc8f8f;
}
.focused {
    background-color: rgb(223, 138, 223);
}
.happy{
    background-color: salmon;
}

.tired {
    background-color: #89cfeb;
}

.mood-options{
    background-color: #bcf0e5;
    padding: 10px;
    font-size: 15px ;
    border-radius: 5px 5px 5px;
    font-family: 'Kalam', cursive;
    box-shadow: 5px 5px 5px rgb(112, 117, 117);

}

#prompt{
    background-color: #bcf0e5;
    margin-right: 600px;
    margin-left: 600px;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 5px rgb(112, 117, 117);
}

#textarea {
    box-shadow: 5px 5px 5px rgb(112, 117, 117);
    border-radius: 5px 5px;
}


#eachMoodInner{
    background-color: rgb(184, 223, 228);

    
}