nav{
    background-color: rgb(187, 245, 245);
    border: 5px solid #a1770b;
    text-align: center;
    font-weight: bolder;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
 
}






a { 
    
    text-decoration: none;
    color: rgb(36, 35, 35);
    text-shadow: 2px 2px rgb(144, 167, 159);
    margin: 120px;
    padding: 25px;
   
   
   
     
}

a:hover {
    color: #a1780f
}

.logo {
    position: absolute;
    left:25px;
    bottom: 87%;
    /* margin-bottom: 20px; */
    width: 120px;
    height: 118px;
    
}


#navText{
    margin:  auto;
    color: rgb(255, 253, 253);

}

.mrg{
    margin: 155px;
    cursor: pointer;
}

@media (max-width:992px) {
  
    .logo {
    position: relative;
    /* right: 95px; */
    width: 100px;
    height: 100px;
}
}